*{
    font-family: Poppins, serif;
    padding: 0;
    margin: 0;

}
body{


}
#menu{
    width: 100%;
    position: absolute;
}

#menu div{
    font-size: 50px;
    font-weight: bold;
    width: 200px;
}
#menu a:first-child{
    float: left;
    background: none;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20%;
}
#menu a{
    text-decoration: none;
    float: right;
    color: #333;
    background: #FFF;
    padding: 25px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 30px;
    font-weight: bold;
}

#menu a:nth-child(2){
    margin-right: 20%;
    background: #FF715B;
}

#main_pic img{
    width: 100%;
    z-index: -1;
}

#card-container{
    width: 100%;
    #background: #333;
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.card{
    background: rgba(255,255,255,0.2);
    width: 500px;
    padding: 50px;
    color: #000;
    font-size: 25px;
    border-radius: 40px;
    text-align: justify;
    margin: 50px;
}
